.nav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.nav2 {
    background-image: linear-gradient(-180deg, #FC6736, #E62C03); /* Gradient from top to bottom */
}

h1 {
    font-size: xx-large;
    margin-left: -150px;
}

.active {
    background-color: #ffb0b0;
    border-radius: 10px;
}

li {
    font-size: 25px;
}

@keyframes rotateWords {
    0%, 33%, 100% { opacity: 0; }
    10%, 23% { opacity: 1; }
}

.my-translate  {
    transform: translateY(20px);
}

.rotating-words {
    position: absolute;
    opacity: 0;
    white-space: nowrap; /* Prevent text from wrapping */
    animation: rotateWords 16s infinite;
    text-shadow: -1px -1px 0 #ffb0b0, 1px -1px 0 #ffb0b0, -1px 1px 0 #ffb0b0, 1px 1px 0 #ffb0b0; /* Black outline */
}

.word-container {
    position: relative;
    display: inline-block; /* Changed from inline to inline-block */
    vertical-align: top; /* Aligns the container with the line of text */
    height: 1em; /* Adjust to fit the height of your text */
    width: 85px; /* Adjust to fit the width of your longest word */
}