<nav class="w-full bg-neutral text-primary font-bold">
    <div class="flex items-end">
        <div class="mt-0 ml-0">
            <img src="/assets/logo.png" alt="Logo" class="h-auto max-h-50 max-w-40">
        </div>
        <div class="w-full">
            <div class="flex">
                <h1>Helping People Move Across the Midwest</h1>
            </div>
            <br>
            <br>
            <div class="w-auto">
                <ul class="flex bg-secondary w-full py-2 px-8">
                    <li class="flex-grow items-center cursor-pointer px-8" *ngFor="let item of items">
                        <a [routerLink]="item.route" routerLinkActive="active"
                            class="w-full active:bg-accent hover:text-neutral sm:text-xs md:text-med lg:text-xl">
                            <span>{{ item.title }}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>