<div class="mt-2 ml-2">
    <div class="w-64">
        <div class="bg-secondary rounded-md p-2 text-lg font-bold mb-2">Job Summary</div>
        <div class="flex flex-col w-64 mt-2 mb-2 rounded-md text-lg">
            <label class="bg-accent rounded-md mb-2 mt-2">Services</label>
            <label class="bg-accent rounded-md mb-2 mt-2">Need A Truck</label>
            <label class="bg-accent rounded-md mb-2 mt-2">Move Date and Time</label>
            <label class="bg-accent rounded-md mb-2 mt-2">Moving From Address</label>
            <label class="bg-accent rounded-md mb-2 mt-2">Moving To Address</label>
            <label class="bg-accent rounded-md mb-2 mt-2">Rooms and Items</label>
            <label class="bg-accent rounded-md mb-2 mt-2">Boxes Needed</label>
            <label class="bg-accent rounded-md mb-2 mt-2">Specialty Items</label>
            <label class="bg-accent rounded-md mb-2 mt-2">Special Requests</label>
        </div>
    </div>
    <div>
        <button tuiButton type="button" class="tui-space_right-3 tui-space_bottom-3 bg-secondary rounded-lg p-2"
            (click)="navigateBackToMovePlanner()">
            Edit Move Information <tui-svg src="tuiIconEdit2Large"></tui-svg>
        </button>
        <button tuiButton type="button" class="tui-space_right-3 tui-space_bottom-3 bg-secondary rounded-lg p-2">
            Submit Move Form<tui-svg src="tuiIconCheckLarge"></tui-svg>
        </button>
    </div>
</div>