<section class="w-full h-full flex items-center place-content-center">
  <div class="w-3/6 bg-neutral p-10 ">
    <form [formGroup]="form">
      <div class="tui-row tui-row_sme">
        <div class="tui-col_8 w-5/6 m-auto mt-8">
          <div class="tui-form__row">
            <tui-input formControlName="userName">
              Username
              <input tuiTextfield />
              <span class="tui-required"></span>
            </tui-input>
            <tui-error formControlName="userName"></tui-error>
          </div>

          <div class="tui-form__row">
            <tui-input-password formControlName="passwordPlain" tuiTextfieldSize="s">
              Password
              <input tuiTextfield />
              <span class="tui-required"></span>
            </tui-input-password>
            <tui-error formControlName="passwordPlain"></tui-error>
          </div>
          
          <div class="tui-form__buttons">
            <button Button type="submit"
              class="bg-secondary p-3 rounded-md text-lg tui-form__button">
              Login
            </button>
          </div>
        </div>
      </div>
    </form>
    
  </div>
</section>
