<tui-stepper [activeItemIndex]="activeStepIndex" tuiMode="onDark" class="dark text-lg flex"
    (activeItemIndexChange)="onActiveStepIndexChange($event)" [tuiTextfieldCleaner]="true">
    <a routerLink="/move-planner" routerLinkActive tuiStep>
        Services
        <ng-container *ngIf="activeStepIndex === 0">
            <div class="absolute inset-x-0 top-full mt-4">
                <form [formGroup]="servicesGroup">
                    <tui-checkbox-block class="mb-4" formControlName="packing">Packing</tui-checkbox-block>
                    <tui-checkbox-block class="mb-4" formControlName="unpack">Unpacking</tui-checkbox-block>
                    <tui-checkbox-block class="mb-4" formControlName="load">Load</tui-checkbox-block>
                    <tui-checkbox-block class="mb-4" formControlName="unload">Unload</tui-checkbox-block>
                </form>
                <div class="bg-secondary text-neutral text-center rounded-md" *ngIf="!servicesGroup.valid">
                    Please select at least one service.
                </div>
            </div>
        </ng-container>
    </a>
    <a routerLink="/move-planner" routerLinkActive tuiStep>
        Need a Truck?
        <ng-container *ngIf="activeStepIndex === 1">
            <div class="absolute inset-x-0 top-full mt-4">
                <form [formGroup]="needTruckGroup">
                    <tui-checkbox-block class="mb-4" formControlName="needTruck">Will you be needing a
                        truck?</tui-checkbox-block>
                </form>
            </div>
        </ng-container>
    </a>
    <a routerLink="/move-planner" routerLinkActive tuiStep>
        Move Date
        <ng-container *ngIf="activeStepIndex === 2">
            <div class="absolute inset-x-0 top-full mt-4">
                <form class="b-form" [formGroup]="moveDateGroup" [tuiTextfieldCleaner]="true">
                    <tui-input-date-time [min]="this.currentDay" class="b-form w-64" formControlName="dateTime"
                        [tuiTextfieldPostfix]="postfix">Choose Date and
                        Time</tui-input-date-time>
                    <p class="text-sm">Toggle Switch Below For AM/PM</p>
                    <div class="bg-secondary rounded-lg w-16 p-1">
                        <tui-toggle formControlName="isPm" size="l"></tui-toggle>
                    </div>
                </form>
                <div class="bg-secondary text-neutral text-center rounded-md mt-2" *ngIf="!toAddressGroup.valid">
                    Please select a move date and time.
                </div>
            </div>
        </ng-container>
    </a>
    <a routerLink="/move-planner" routerLinkActive tuiStep>
        From Address Residence Type
        <ng-container *ngIf="activeStepIndex === 3">
            <div class="absolute inset-x-0 top-full mt-4">
                <form class="b-form" [formGroup]="fromAddressResType">
                    <ng-container *ngIf=""></ng-container>
                    <tui-radio-block class="mb-4" formControlName="fromResType" item="House">House</tui-radio-block>
                    <tui-radio-block class="mb-4" formControlName="fromResType"
                        item="apartment">Apartment</tui-radio-block>
                    <tui-radio-block class="mb-4" formControlName="fromResType" item="Condo">Condo</tui-radio-block>
                    <tui-radio-block class="mb-4" formControlName="fromResType" item="Storage">Storage</tui-radio-block>
                    <tui-radio-block class="mb-4" formControlName="fromResType" item="Other">Other</tui-radio-block>
                </form>
            </div>
        </ng-container>
    </a>
    <a routerLink="/move-planner" routerLinkActive tuiStep>
        From Residence Number of Fights of Stairs
        <ng-container *ngIf="activeStepIndex === 4">
            <div class="absolute inset-x-0 top-full mt-4">
                <form class="b-form" [formGroup]="fromAddressFlights">
                    <tui-input-number [min]="0" formControlName="fromNumberOfFlights" class="b-form w-64">Flights of
                        Stairs</tui-input-number>
                </form>
            </div>
        </ng-container>
    </a>
    <a routerLink="/move-planner" routerLinkActive tuiStep>
        Moving From Address
        <ng-container *ngIf="this.activeStepIndex === 5">
            <div class="absolute inset-x-0 top-full mt-4">
                <form [formGroup]="fromAddressGroup">
                    <label>
                        <span>Moving From Address*</span>
                        <input id="fromStreetAddress" name="fromStreetAddress" required autocomplete="off"
                            #fromStreetAddress />
                    </label>
                    <label>
                        <span>Apartment, unit, suite, or floor #</span>
                        <input id="fromAptNumUnitOrSuite" name="fromAptNumUnitOrSuite"
                            formControlName="fromAptNumUnitOrSuite" #fromAptNumUnitOrSuite />
                    </label>
                    <label>
                        <span>City*</span>
                        <input id="fromLocality" name="fromLocality" #fromLocality />
                    </label>
                    <label>
                        <span>State/Province*</span>
                        <input id="fromState" name="fromState" #fromState />
                    </label>
                    <label for="postal_code">
                        <span>Postal code*</span>
                        <input id="fromPostcode" name="fromPostcode" required #fromPostcode />
                    </label>
                    <label>
                        <span>Country/Region*</span>
                        <input id="fromCountry" name="fromCountry" required #fromCountry />
                    </label>
                </form>
                <div class="bg-secondary text-neutral text-center rounded-md mt-2" *ngIf="!fromAddressGroup.valid">
                    * inidicates required fields
                </div>
            </div>
        </ng-container>
    </a>
    <a routerLink="/move-planner" routerLinkActive tuiStep>
        To Address Residence Type
        <ng-container *ngIf="activeStepIndex === 6">
            <div class="absolute inset-x-0 top-full mt-4">
                <form class="b-form" [formGroup]="toAddressResType">
                    <tui-radio-block class="mb-4" formControlName="toResType" item="House">House</tui-radio-block>
                    <tui-radio-block class="mb-4" formControlName="toResType"
                        item="apartment">Apartment</tui-radio-block>
                    <tui-radio-block class="mb-4" formControlName="toResType" item="Condo">Condo</tui-radio-block>
                    <tui-radio-block class="mb-4" formControlName="toResType" item="Storage">Storage</tui-radio-block>
                    <tui-radio-block class="mb-4" formControlName="toResType" item="Other">Other</tui-radio-block>
                </form>
            </div>
        </ng-container>
    </a>
    <a routerLink="/move-planner" routerLinkActive tuiStep>
        To Residence Number of Flights of Stairs
        <ng-container *ngIf="activeStepIndex === 7">
            <div class="absolute inset-x-0 top-full mt-4">
                <form class="b-form" [formGroup]="toAddressFlights">
                    <tui-input-number [min]="0" formControlName="toNumberOfFlights" class="b-form w-64">Flights of
                        Stairs</tui-input-number>
                </form>
            </div>
        </ng-container>
    </a>
    <a routerLink="/move-planner" routerLinkActive tuiStep>
        Moving To Address
        <ng-container *ngIf="activeStepIndex === 8">
            <div class="absolute inset-x-0 top-full mt-4">
                <form [formGroup]="toAddressGroup">
                    <label>
                        <span>Moving To Address*</span>
                        <input id="toStreetAddress" name="toStreetAddress" required autocomplete="off"
                            #toStreetAddress />
                    </label>
                    <label>
                        <span>Apartment, unit, suite, or floor #</span>
                        <input id="toAptNumUnitOrSuite" name="toAptNumUnitOrSuite" formControlName="toAptNumUnitOrSuite"
                            #toAptNumUnitOrSuite />
                    </label>
                    <label>
                        <span>City*</span>
                        <input id="toLocality" name="toLocality" required #toLocality />
                    </label>
                    <label>
                        <span>State/Province*</span>
                        <input id="toState" name="toState" required #toState />
                    </label>
                    <label for="postal_code">
                        <span>Postal code*</span>
                        <input id="toPostcode" name="toPostcode" required #toPostcode />
                    </label>
                    <label>
                        <span>Country/Region*</span>
                        <input id="toCountry" name="toCountry" required #toCountry />
                    </label>
                </form>
                <div class="bg-secondary text-neutral text-center rounded-md mt-2" *ngIf="!toAddressGroup.valid">
                    * inidicates required fields
                </div>
            </div>
        </ng-container>
    </a>
    <a routerLink="/move-planner" routerLinkActive tuiStep>
        Rooms
        <div class="bg-secondary text-neutral text-center rounded-md ml-2"
            *ngIf="!roomsGroup.valid && activeStepIndex === 9">
            Please select at least one room
        </div>
        <ng-container *ngIf="activeStepIndex === 9">
            <div class="absolute inset-x-0 top-full mt-4">
                <form [formGroup]="roomsGroup">
                    <tui-checkbox-block class="mb-2" formControlName="Bedroom">Bedroom</tui-checkbox-block>
                    <tui-checkbox-block class="mb-2" formControlName="Kitchen">Kitchen</tui-checkbox-block>
                    <tui-checkbox-block class="mb-2" formControlName="Dining">Dining</tui-checkbox-block>
                    <tui-checkbox-block class="mb-2" formControlName="Family">Family</tui-checkbox-block>
                    <tui-checkbox-block class="mb-2" formControlName="Living">Living</tui-checkbox-block>
                    <tui-checkbox-block class="mb-2" formControlName="Laundry">Laundry</tui-checkbox-block>
                    <tui-checkbox-block class="mb-2" formControlName="Bathroom">Bathroom</tui-checkbox-block>
                    <tui-checkbox-block class="mb-2" formControlName="Office">Office</tui-checkbox-block>
                    <tui-checkbox-block class="mb-2" formControlName="Patio">Patio</tui-checkbox-block>
                    <tui-checkbox-block class="mb-2" formControlName="Garage">Garage</tui-checkbox-block>
                    <tui-checkbox-block class="mb-2" formControlName="Attic">Attic</tui-checkbox-block>
                </form>
            </div>
        </ng-container>
    </a>
    <a routerLink="/move-planner" routerLinkActive tuiStep>
        Items
        <ng-container *ngIf="activeStepIndex === 10">
            <div class="absolute inset-x-0 top-full mt-4 w-64">
                <form [formGroup]="roomsGroup">
                    <tui-accordion class="container" [rounded]="false">
                        <!--Iterate over selected rooms-->
                        <!--Accordion item for each room-->
                        <tui-accordion-item *ngFor="let room of roomItemsFiltered" borders="top-bottom"
                            [showArrow]="true">
                            <!--Accordion Item Label-->
                            <div class="operation-header">
                                <div class="operation-title">{{room.roomName}}</div>
                            </div>
                            <ng-template tuiAccordionItemContent>
                                <h3 class="form-title">Room Items</h3>
                                <form class="operation-form" [formGroup]="itemsGroup">
                                    <!--Populate room items-->
                                    <tui-input-number [min]="0" class="b-form"
                                        *ngFor="let item of room.items | keyvalue"
                                        formControlName="{{item.key}}">{{item.key}}
                                    </tui-input-number>
                                </form>
                            </ng-template>
                        </tui-accordion-item>
                    </tui-accordion>
                </form>
            </div>
        </ng-container>
    </a>
    <a routerLink="/move-planner" routerLinkActive tuiStep>
        Boxes Needed
        <ng-container *ngIf="activeStepIndex === 11">
            <div class="absolute inset-x-0 top-full mt-4 w-64">
                <form [formGroup]="boxesGroup">
                    <tui-input-number [min]="0" class="b-form" value="value" formControlName="smBox">Small
                        Boxes</tui-input-number>
                    <tui-input-number [min]="0" class="b-form" value="value" formControlName="mdBox">Medium
                        Boxes</tui-input-number>
                    <tui-input-number [min]="0" class="b-form" value="value" formControlName="lgBox">Large
                        Boxes</tui-input-number>
                </form>
            </div>
        </ng-container>
    </a>
    <a routerLink="/move-planner" routerLinkActive tuiStep>
        Specialty Items
        <ng-container *ngIf="activeStepIndex === 12">
            <div class="absolute inset-x-0 top-full mt-4 w-64">
                <form [formGroup]="specialtyGroup">
                    <!--Populate specialty items-->
                    <tui-input-number [min]="0" class="b-form" value="value" *ngFor="let item of specialtyItems"
                        formControlName="{{item.control}}">{{item.specialtyItem}}
                    </tui-input-number>
                </form>
            </div>
        </ng-container>
    </a>
    <a routerLink="/move-planner" routerLinkActive tuiStep>
        Special Requests
        <ng-container *ngIf="activeStepIndex === 13">
            <div class="absolute inset-x-0 top-full mt-4 w-64">
                <form [formGroup]="specialRequestGroup">
                    <textarea name="specialTextArea" formGroupName="specialTextArea" #specialTextArea cols="30"
                        rows="10" class="fixed-size">  Enter any special requests here</textarea>
                    <button tuiButton type="button" class="tui-space_right-3 tui-space_bottom-3"
                        (click)="addSpecialRequest(specialTextArea.value)">
                        Add Special Request
                    </button>
                </form>
                <div *ngIf="specialRequestSubmissionSuccess">Special Request Added to Form</div>
            </div>
        </ng-container>
    </a>
    <a routerLink="/move-planner" routerLinkActive tuiStep>
        Finalize and Submit
        <ng-container *ngIf="activeStepIndex === 14">
            <div class="absolute inset-x-0 top-full mt-4 w-64">
                <ng-template #icon>
                    <tui-svg src="tuiIconCheckLarge"></tui-svg>
                </ng-template>
                <button tuiButton type="button" class="tui-space_right-3 tui-space_bottom-3" [icon]="icon"
                    (click)="submitForm()"
                    [disabled]="!moveDateGroup.valid || !servicesGroup.valid || !roomsGroup.valid ">
                    Submit Move Form
                </button>
                <div class="bg-secondary text-neutral rounded-md"
                    *ngIf="!moveDateGroup.valid || !servicesGroup.valid || !fromAddressGroup.valid || !toAddressGroup.valid || !roomsGroup.valid">
                    *Missing a required form field
                </div>
            </div>
        </ng-container>
    </a>
</tui-stepper>