  .reviews-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }

  .review {
    max-width: 600px;
    padding: 1rem;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    position: relative; /* Ensure .review provides a positioning context for its children */
  }
  
  .review-author,
  .review-rating,
  .review-text {
    margin-bottom: 0.5rem;
    text-align: left;
  }
 
  .review-author {
    font-weight: bold;
    margin-bottom: 1rem; /* Space between author name and review text */
 
  }

  .review-rating {
    position: absolute;
    top: 1rem; 
    right: 1.5rem; 
    display: flex;
    align-items: center;
  }

  .review-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .star-icon {
    color: #f39c12;
    margin: 0 0.25rem;
    scale: 1.5;
  }

  .maps-container {
    display: flex;
    z-index: 1000;
    scale: .75;
  }
  
  app-google-maps-component {
    pointer-events: auto;
  }

  .button-container {
    display: flex;
    align-items: center; /* Vertically center */
    justify-content: center; /* Horizontally center */
    transform: scale(0.65);
  }
  
  app-move-button {
    z-index: 1001;
    pointer-events: auto;
  }

  .paragraph {
    max-width: 52rem;
    text-align: center;

  }
