<div class="flex place-content-center h-auto max-h-80 w-auto mt-8 mb-8">
    <img src="/assets/choiceMovers3.png" class="rounded-lg">
</div>

<div class="flex justify-center">
    <div class="max-w-5xl">
        <p class="text-center text-xl text-neutral">Welcome to Choice Movers, where we make your relocation experience
            stress-free and
            seamless.
            Whether you're
            moving across town or across the country, our team of dedicated professionals is here to assist you every
            step
            of the way. With our commitment to exceptional customer service and attention to detail, you can trust us to
            handle your belongings with care and precision. In addition to our expert packing and loading services, we
            also
            offer secure storage solutions and efficient clean-out services. From transportation to unpacking, we've got
            you
            covered. Make the smart choice for your next move with Choice Movers.</p>
    </div>
</div>

<div class="flex justify-center m-8">
    <app-move-button></app-move-button>
</div>