<div class="relative flex flex-col" style="height: 705px;">
  <!-- Container for the background image with responsive height -->
  <div class="relative flex-grow overflow-hidden rounded-2xl">
    <!-- Background image with custom styles and reduced opacity -->
    <img src="../../../../../assets/choiceMovers4.png" alt="Background" class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 w-1/2 opacity-20 rounded-2xl" style="opacity: 0.2; width: 50%; height: auto;" />

    <!-- Centered content including header, icons, and paragraph -->
    <div class="relative flex flex-col justify-between h-full z-10">
      <header class="text-center p-0">
        <h1 class="text-3xl font-bold" style="color: white; text-shadow: 3px 3px 0px #000;">Locally owned and operated out of Akron Ohio</h1>
        <div class="maps-container">
          <app-google-maps-component></app-google-maps-component>
        </div>
      </header>
      
      <div class="paragraph">
        <p class="text-lg font-bold px-10" style="color: white; text-shadow: 3px 3px 0px #000;">
          Welcome to Choice Movers, your go-to for a stress-free relocation. We offer top-notch service, 
          from expert packing to secure transport and efficient unpacking. Trust us to handle your move with 
          precision and care. Choose smart, choose Choice Movers.</p>
      </div>
      
      <div class="review-wrapper">
        <ng-container *ngIf="googleReviews$ | async as googleReviews; else loading">
          <ng-container *ngIf="googleReviews.reviews; else noReviews">
            <div *ngFor="let review of googleReviews.reviews; let i = index; trackBy: trackByIndex">
              <div class="review" *ngIf="activeReviewIndex === i">
                <!-- Display individual review details -->
                <div class="review-author">{{ review.authorAttribution.displayName }}</div>
                <div class="review-text">{{ review.text.text }}</div>
                <div class="review-rating">
                  <span *ngFor="let starIndex of createRange(review.rating)" class="star-icon">★</span>
                </div>
                <!-- Add more fields as needed -->
              </div>
            </div>
          </ng-container>
          <ng-template #noReviews>
            <p>No reviews available</p>
          </ng-template>
        </ng-container>
        <ng-template #loading>Loading Reviews...</ng-template>
      </div>
      
    

      <!-- Bottom text area, centered with padding -->
      <div class="absolute bottom-0 left-[18%] right-[10%] p-10">

        <div class="button-container">
          <app-move-button></app-move-button>
        </div>
        
      </div>
    </div>
  </div>
  
  <!-- Other sections of the page -->
  <!-- ... -->
</div>

