<div class="relative flex flex-col h-dvh">
  <!-- Container for the background image with responsive height -->
  <div class="relative flex-grow overflow-hidden rounded-2xl">
    <img src="../../../../../assets/choiceMovers4.png" alt="Background" class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 w-1/2 opacity-20 rounded-2xl" style="opacity: 0.2; width: 50%; height: auto;" />

    <!-- Centered content including header, icons, and paragraph -->
    <div class="relative flex flex-col justify-between h-full z-10">
      <div class="flex justify-between items-end p-10 order-[1]">
        <div class="button-container w-full flex justify-center">
          <app-move-button></app-move-button>
        </div>
      </div>

      <!-- Separate container for the paragraph -->
      <div class="paragraph-container flex justify-center items-center order-[2]">
        <div class="paragraph">
          <p class="text-lg font-bold px-10" style="color: white; text-shadow: 3px 3px 0px #000;">
            Welcome to Choice Movers, your go-to for a stress-free relocation. We offer top-notch service, 
            from expert packing to secure transport and efficient unpacking. Trust us to handle your move with 
            precision and care. Choose smart, choose Choice Movers.
          </p>
        </div>
      </div>

      <!-- Maps container -->
      <div class="flex justify-center items-center order-[3]">
        <div class="maps-container">
          <app-google-maps-component></app-google-maps-component>
        </div>
      </div>

      <!-- Separate container for the reviews -->
      <div class="reviews-container flex-grow justify-center items-center order-[4]">
        <div class="review-wrapper">
          <ng-container *ngIf="googleReviews$ | async as googleReviews; else loading">
            <ng-container *ngIf="googleReviews.reviews; else noReviews">
              <div *ngFor="let review of googleReviews.reviews; let i = index; trackBy: trackByIndex">
                <div class="review" *ngIf="activeReviewIndex === i">
                  <!-- Display individual review details -->
                  <div class="review-author">{{ review.authorAttribution.displayName }}</div>
                  <div class="review-text">{{ review.text.text }}</div>
                  <div class="review-rating">
                    <span *ngFor="let starIndex of createRange(review.rating)" class="star-icon">★</span>
                  </div>
                  <!-- Add more fields as needed -->
                </div>
              </div>
            </ng-container>
            <ng-template #noReviews>
              <p>No reviews available</p>
            </ng-template>
          </ng-container>
          <ng-template #loading>Loading Reviews...</ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
