<div *ngIf="this.customer$ | async as customer">
    <div class="mt-2 ml-2 text-neutral h-dvh">
        <div class="w-64 ">
            <div class="bg-secondary rounded-md p-2 text-lg font-bold mb-2">Customer Profile</div>
            <div class="flex flex-col w-64 mt-2 mb-2 rounded-md text-lg">
                <label class="bg-secondary rounded-md mb-2 mt-2 pl-2">Username</label>

                <ul>
                    <li>
                        {{customer.userName}}
                    </li>
                </ul>
                <label class="bg-secondary rounded-md mb-2 mt-2 pl-2">First Name</label>
                <ul>
                    <li>
                        {{customer.firstName}}
                    </li>
                </ul>
                <label class="bg-secondary rounded-md mb-2 mt-2 pl-2">Last Name</label>
                <ul>
                    <li>
                        {{customer.lastName}}
                    </li>
                </ul>
                <label class="bg-secondary rounded-md mb-2 mt-2 pl-2">Email</label>
                <ul>
                    <li>
                        {{customer.email}}
                    </li>
                </ul>
                <label class="bg-secondary rounded-md mb-2 mt-2 pl-2">Phone Primary</label>
                <ul>
                    <li>
                        {{customer.phonePrimary}}
                    </li>
                </ul>
                <label class="bg-secondary rounded-md mb-2 mt-2 pl-2">Phone Other 1</label>
                <ul>
                    <li>
                        {{customer.phoneOther1}}
                    </li>
                </ul>

                <label class="bg-secondary rounded-md mb-2 mt-2 pl-2">Phone Other 2</label>
                <ul>
                    <li>
                        {{customer.phoneOther2}}
                    </li>
                </ul>
                <label class="bg-secondary rounded-md mb-2 mt-2 pl-2">Jobs</label>
                <div *ngIf="this.customerJobs$ | async as jobs">
                    <div *ngFor="let job of this.customerJobs$ | async">
                        <ul>
                            <li class="bg-secondary rounded-md">
                                <strong>Job#:</strong> {{job.jobId}}
                            </li>
                            <li>
                                <strong>Primary Contact:</strong>
                                {{job.customer.firstName}} {{job.customer.lastName}}
                            </li>
                            <li>
                                <strong>Total Final Cost:</strong>
                                {{job.finalCost}}
                            </li>
                            <li>
                                <strong>Total Amount Paid:</strong>
                                {{job.amountPaid}}
                            </li>
                            <li>
                                <strong>Loading Address:</strong>
                                <br />
                                {{job.loadAddr.street}}
                                {{job.loadAddr.city}}, {{job.loadAddr.state}} {{job.loadAddr.zip}}
                            </li>
                            <li>
                                <strong>Unloading Address:</strong>
                                <br />
                                {{job.unloadAddr.street}}
                                {{job.unloadAddr.city}}, {{job.unloadAddr.state}} {{job.unloadAddr.zip}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>