<div *ngIf="(user$ | async) as user">
    <button (click)="back()" class="m-2 icons">
        <tui-svg src="tuiIconArrowLeftLarge" class="tui-space_right-2"></tui-svg>
    </button>
    <div class="flex p-5 pb-0">
        <div class="flex items-center p-2">
            <tui-avatar [rounded]="true" size="xl" [text]="user.firstName + ' ' +  user.lastName"></tui-avatar>
        </div>
        <div class="flex flex-col text-left justify-center">
            <p class="text-4xl">{{ user.firstName + ' ' + user.lastName }}</p>
            <span class="text-2xl opacity-50">{{ user.employeeType }}</span>
        </div>
    </div>

    <div class="tui-container w-full">
        <form [formGroup]="form">
            <div class="tui-row tui-row_sme">
                <div class="tui-col_8 w-5/6 m-auto mt-8">
                    <div class="tui-form__row">
                        <tui-input [readOnly]=true formControlName="userName">
                            Username
                            <input tuiTextfield />
                        </tui-input>
                        <tui-error formControlName="userName"></tui-error>
                    </div>
                    <div class="tui-form__row tui-form__row_multi-fields">
                        <div class="tui-form__multi-field">
                            <tui-input formControlName="firstName">
                                First name
                            </tui-input>
                            <tui-error formControlName="firstName" [error]="[] | tuiFieldError | async"></tui-error>
                        </div>

                        <div class="tui-form__multi-field">
                            <tui-input formControlName="lastName">
                                Last name
                            </tui-input>
                            <tui-error formControlName="lastName" [error]="[] | tuiFieldError | async"></tui-error>
                        </div>
                    </div>
                    <div class="tui-form__row">
                        <tui-input formControlName="email">
                            Email
                            <input tuiTextfield />
                        </tui-input>
                        <tui-error formControlName="email"></tui-error>
                    </div>
                    <div class="tui-form__row">
                        <tui-input [readOnly]=true tuiTextfieldSize="s" formControlName="employeeType">
                            Employee type
                            <input tuiTextfield />
                        </tui-input>
                        <tui-error formControlName="employeeType"></tui-error>
                    </div>

                    <div class="tui-form__row tui-form__row_multi-fields">
                        <div class="tui-form__multi-field">
                            <tui-input-phone phoneMaskAfterCountryCode="### ###-####" countryCode="+1"
                                formControlName="phonePrimary">Phone primary</tui-input-phone>
                            <tui-error formControlName="phonePrimary" [error]="[] | tuiFieldError | async"></tui-error>
                        </div>
                        <!-- <div class="tui-form__multi-field"> -->
                        <!--   <tui-input-phone phoneMaskAfterCountryCode="### ###-####" countryCode="+1" formControlName="phoneOther">Phone other</tui-input-phone> -->
                        <!--   <tui-error formControlName="phoneOther" [error]="[] | tuiFieldError | async"></tui-error> -->
                        <!-- </div> -->
                    </div>
                    <div class="tui-form__buttons">
                        <button (click)="update()" tuiButton type="submit"
                            class="gradient-button bg-secondary p-3 rounded-md text-lg tui-form__button">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>