<div class="overflow-auto">
    <div class="p-4">
        <div class="flex justify-center items-center p-8">
            <div class="border-4 border-secondary rounded-lg p-4">
                <h2 class="text-2xl text-neutral font-bold">Wherever You Need To Go, We Will Get You There</h2>
            </div>
        </div>
        <div class="flex justify-center items-center p-8">
            <app-google-maps-component></app-google-maps-component>
        </div>
        <div class="flex justify-center items-center">
            <div class="max-w-xl">
                <p class="text-lg text-center text-neutral pt-4">Welcome to Choice Movers, where we make your relocation
                    experience stress-free and seamless. Whether
                    you're moving across town or across the country, our team of dedicated professionals is here to
                    assist
                    you every step of the way. With our commitment to exceptional customer service and attention to
                    detail,
                    you can trust us to handle your belongings with care and precision. From packing and loading to
                    transportation and unpacking, we've got you covered. Make the smart choice for your next move with
                    Choice Movers</p>
            </div>
        </div>
        <div class="flex justify-center items-center p-8">
            <p class="text-center font-bold text-neutral">GOOGLE REVIEW WILL GO HERE</p>
        </div>
    </div>
    <div class="flex justify-center items-stretch p-4 space-x-2">
        <div
            class="flex flex-col justify-center items-center text-neutral border-secondary border-4 rounded-lg w-full max-w-md">
            <h3 class="text-2xl p-2">Local Move</h3>
            <div class="p-4">
                <tui-svg src="tuiIconTruckLarge"></tui-svg>
            </div>
            <p class=" text-center pb-4">Trust our experienced team for your local moving needs. Whether you are
                relocating
                across
                the street, in the same
                neighborhood or somewhere within the same city, we are here to make your move seamless and stree-free.
                From
                packing and loading to transportation and unloading, we handle every aspect of your move with care and
                professionalism. Let us take the hassle out of your local move so you can focus on settling into your
                new
                home!
            </p>

            <div class="pt-2">

                <app-start-move-button></app-start-move-button>
            </div>
        </div>
        <div
            class="flex flex-col justify-center items-center text-neutral border-secondary border-4 rounded-lg w-full max-w-md">
            <h3 class="text-2xl pt-4">City-to-City</h3>
            <div class="p-4">
                <tui-svg src="tuiIconMapLarge"></tui-svg>
            </div>
            <p class=" text-center pb-4">Embarking on a city-to-city move? Count on our reliable moving services to
                ensure a
                smooth transition to your new destination. Our expert team will handle all the logistics, from packing
                and
                loading to transportation and unloading, with precision and care. Whether you're moving across state
                lines
                or to a neighboring city, we've got the expertise and resources to make your relocation hassle-free.
                Trust
                us to deliver your belongings safely and on time, so you can focus on settling into your new city with
                ease.
            </p>

            <div class="pb-2">

                <app-start-move-button></app-start-move-button>
            </div>
        </div>
        <div
            class="flex flex-col justify-center items-center text-neutral border-secondary border-4 rounded-lg w-full max-w-md">
            <h3 class="text-2xl pt-4">Business Move</h3>
            <div class="p-4">
                <tui-svg src="tuiIconArchiveLarge"></tui-svg>
            </div>
            <p class=" text-center pb-4"> Planning a business relocation? Look no further. Our dedicated team
                specializes in
                seamless business moves, ensuring minimal disruption to your operations. From moving equipment, to
                electronics, to documents, we have got you covered. With our
                comprehensive services, including packing, transportation, and unpacking, you can trust us to get your
                business up and running in your new location in no time. Let us take the stress out of your business
                move,
                so you can focus on what matters most – your business.
            </p>

            <div class="pb-2">

                <app-start-move-button></app-start-move-button>
            </div>
        </div>
    </div>
</div>