<div class="relative flex flex-col h-dvh">
    <div class="relative flex-grow overflow-hidden rounded-2xl">
        <!-- Background image with custom styles and reduced opacity -->
        <img src="../../../../../assets/choiceMovers5.png" alt="Background" class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 w-1/2 opacity-20 rounded-2xl" style="opacity: 0.2; width: 50%; height: auto;" />
    
        <!-- Centered content including header, icons, and paragraph -->
        <div class="relative flex flex-col justify-between h-full z-10">
          <header class="text-center p-0">
            <h1 class="text-3xl font-bold" style="color: white; text-shadow: 3px 3px 0px #000;">Wherever You Need To Go, We Will Get You There</h1>
          </header>
        
          <div class="flex justify-center items-center p-48">
            <div class="flex justify-center items-stretch p-4 space-x-6">
                <div
                    class="flex flex-col justify-center items-center text-neutral border-secondary border-4 rounded-lg w-full max-w-md">
                    <h3 class="text-2xl p-2" style="color: white; text-shadow: 3px 3px 0px #000;" >Local Move</h3>
                    <div class=" truck p-4">
                        <tui-svg src="tuiIconTruckLarge"></tui-svg>
                    </div>
                    <p class=" text-center pb-4 text-lg font-bold" style="color: white; text-shadow: 3px 3px 0px #000;" >Trust our skilled team for your local move. We provide a seamless, stress-free experience,
                         handling everything from packing to unloading. Let us manage your move within the city, allowing you to focus on settling into your new home.
                    </p>
                    <div class="pt-2">
                        <app-start-move-button></app-start-move-button>
                    </div>
                </div>
                <div
                    class="flex flex-col justify-center items-center text-neutral border-secondary border-4 rounded-lg w-full max-w-md">
                    <h3 class="text-2xl pt-4" style="color: white; text-shadow: 3px 3px 0px #000;" >City-to-City</h3>
                    <div class=" map p-4">
                        <tui-svg src="tuiIconMapLarge"></tui-svg>
                    </div>
                    <p class=" text-center pb-4 text-lg font-bold" style="color: white; text-shadow: 3px 3px 0px #000;" >Rely on our expert moving services for your city-to-city relocation. We manage every aspect—from 
                        packing to unloading—ensuring a smooth transition. Whether it's across states or to the next city, we guarantee a hassle-free 
                        move, delivering your items safely and punctually. Focus on settling into your new city while we handle the logistics.
                    </p>
                    <div class="pb-2">
                        <app-start-move-button></app-start-move-button>
                    </div>
                </div>
    
        </div>
    </div>    
</div>
  
