<div class="flex flex-col items-center text-neutral mt-40 p-5 h-dvh">
    <div class="text-2xl text-neutral font-bold">
        <h2>Choice Movers Akron, The Right Choice For Any Move</h2>
    </div>
    <div class="bg-secondary rounded-md text-center text-xl m-10 p-10">
        <h2>Thanks For Planning Your Move with Choice Movers!</h2>
        <p>You will receive an email confirmation from us as soon as your job has been finalized</p>
    </div>
    <button tuiButton type="button" class="tui-space_right-3 tui-space_bottom-3 bg-secondary rounded-lg p-2"
        (click)="navigateToHome()">
        Return to Home Page
    </button>
</div>