<div class="relative flex flex-col h-dvh">
  <!-- Container for the background image with responsive height -->
  <div class="relative flex-grow overflow-hidden rounded-2xl">
    <!-- Background image with custom styles and reduced opacity -->
    <img src="../../../../../assets/choiceMovers4.png" alt="Background" class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 w-1/2 opacity-20 rounded-2xl" style="opacity: 0.2; width: 50%; height: auto;" />

    <!-- Centered content including header, icons, and paragraph -->
    <div class="relative flex flex-col h-full z-10">
      <header class="text-center p-4">
        <h1 class="text-3xl font-bold" style="color: white; text-shadow: 3px 3px 0px #000;">Streamlining Your Space, Stress-Free</h1>
        <div class="flex justify-center m-[50px]">
          <app-move-button></app-move-button>
        </div>
      </header>
      

      <!-- Icons arranged using Grid -->
      <div class="icons-container grid grid-cols-5 justify-items-center items-center my-16">
        <!-- Left arrow -->
        <tui-svg src="tuiIconArrowRightLarge" class="icons col-span-1 order-[2] icon-left-arrow"></tui-svg>

        <!-- Package -->
        <tui-svg src="tuiIconPackageLarge" class="icons col-span-1 order-[1] icon-mover"></tui-svg>

        <!-- Truck -->
        <tui-svg src="tuiIconTruckLarge" class="icons col-span-1 order-[3] icon-tv"></tui-svg>

        <!-- House -->
        <tui-svg src="tuiIconHomeLarge" class="icons col-span-1 order-[5] icon-package"></tui-svg>

        <!-- Right arrow -->
        <tui-svg src="tuiIconArrowRightLarge" class="icons col-span-1 order-[4] icon-right-arrow"></tui-svg>
      </div>


      <!-- Bottom text area -->
      <div class="mt-2 p-10 text-center">
        <div class="mx-auto max-w-4xl">
          <p class="text-lg font-bold px-10" style="color: white; text-shadow: 2px 2px 0px #000;">
            Choice Movers is proud to offer comprehensive clean out services tailored to your needs. Whether you're downsizing, decluttering, or preparing for a move, our experienced team will efficiently clear out your space, leaving it clean and clutter-free. 
            From removing furniture and appliances to disposing of unwanted items responsibly, we handle every aspect of the clean out process with care and professionalism. 
            Trust Choice Movers to make your clean out experience hassle-free, so you can enjoy a fresh start in your space.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Other sections of the page -->
  <!-- ... -->
</div>
