<button class="bg-secondary text-primary" iconRight="tuiIconChevronDown" tuiButton type="button"
    [tuiDropdown]="dropdownContent" [tuiDropdownManual]="open" (click)="onClick()"
    (tuiActiveZoneChange)="onActiveZone(open)" (tuiObscured)="onObscured(open)">
    Rooms
    <ng-template #dropdownContent>
        <div *ngFor="let item of items" class="bg-secondary dropdown"><a (click)="onSelect(item)"
                class="w-full active:bg-accent cursor-pointer hover:text-neutral sm:text-med md:text-med lg:text-xl">
                <span>{{item.room }}</span>
            </a></div>
    </ng-template>
</button>

<ng-container *ngIf="selectedOption && blowoutIsOpen">
    <h1>This will be where the blowout goes</h1>
</ng-container>