<footer class="flex bg-neutral text-primary py-4 mt-auto">
    <div class="flex items-center">
        <p class="flex text-primary font-bold text-xl">&copy; 2024 choicemoversakron, LLC</p>
        <a href="https://www.facebook.com/p/Choice-Movers-100084177783243/"><tui-svg class="flex inline m-1"
                src="tuiIconFacebookLarge"></tui-svg></a>
        <a href="https://www.instagram.com">
            <tui-svg class="flex inline m-1" src="tuiIconInstagramLarge"></tui-svg></a>
    </div>
</footer>