<div class="w-40 h-full bg-neutral text-black fixed">
  <div>
    <img src="/assets/logo.png"/>
  </div>
  
  <div>
    
  </div>
  
  <div>
    <ul>
      <li class="p-4 mb-5" [ngClass]="{'bg-secondary': i === selectedIndex}" *ngFor="let item of sidebarItems; index as i">
        <div class="flex items-center" >
          <tui-svg [src]="item.icon"></tui-svg>
          <p [ngClass]="{'text-neutral': i === selectedIndex}"  class="ml-2 text-lg select-none">{{ item.name }}</p>
        </div>
      </li>
    </ul>
  </div>
</div>
