<div class="relative h-400 overflow-hidden">
  <img src="../../../../../assets/choiceMovers4.png" alt="Image Description" class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 rounded-2xl" style="opacity: 0.2; width: 50%; height: auto;">

  <div class="container mx-auto relative z-10 flex flex-col justify-center h-full p-4">
      <header class="text-center">
        <h1 class="text-3xl font-bold" style="color: white; text-shadow: 2px 2px 0px #000;">Contact Us</h1>
      </header>
      <section class="flex flex-col items-center my-8">
          <img class="object-contain h-auto max-w-md rounded-2xl" src="../../../../../assets/choiceMoversPeople.jpg" alt="Our Team">
          <div class="text-center">
              <p class="text-2xl font-bold" style="color: white !important; text-shadow: 2px 2px 0px #000;">Colin Romisher</p>
              <p class="text-lg font-bold" style="color: white !important; text-shadow: 2px 2px 0px #000;">Owner/Operator</p>
              <p class="text-lg font-bold" style="color: white !important; text-shadow: 2px 2px 0px #000;">330-858-0097</p>
              <p class="text-lg font-bold" style="color: white !important; text-shadow: 2px 2px 0px #000;">ChoiceMoversAkron&#64;gmail.com</p>
          </div>
      </section>
      <footer class="flex justify-center space-x-4">
      </footer>
  </div>
</div>
