
<div class="relative h-400 overflow-hidden">
  <img class="absolute inset-0 m-auto bg-no-repeat bg-center rounded-lg" src="../../../../../assets/choiceMovers4.png" style="opacity: 0.3; width: 70%; height: 95%; auto;" />
  <div class="container mx-auto relative z-10 flex flex-col justify-center h-full p-4">
      <header class="text-center">
          <h1 class="text-3xl font-bold" style="color: white; text-shadow: 2px 2px 0px #000;">Contact Us</h1>
      </header>
      <section class="flex flex-col items-center my-8">
          <img class="object-contain h-auto max-w-md rounded-2xl" src="../../../../../assets/choiceMoversPeople.jpg" alt="Our Team">
          <div class="text-center mb-4">
              <p class="text-2xl font-bold" style="color: white !important; text-shadow: 2px 2px 0px #000;">Colin Romisher</p>
              <p class="text-lg font-bold" style="color: white !important; text-shadow: 2px 2px 0px #000;">Owner/Operator</p>
              <p class="text-lg font-bold" style="color: white !important; text-shadow: 2px 2px 0px #000;">330-858-0097</p>
              <p class="text-lg font-bold" style="color: white !important; text-shadow: 2px 2px 0px #000;">ChoiceMoversAkron&#64;gmail.com</p>
          </div>
          <div class="flex justify-center space-x-10">
              <a href="https://www.facebook.com/Choice-Movers-100084177783243/" target="_blank" rel="noopener noreferrer">
                  <tui-svg class="flex inline m-1 icon-facebook" src="tuiIconFacebookLarge"></tui-svg>
              </a>
              <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
                  <tui-svg class="flex inline m-1 icon-instagram" src="tuiIconInstagramLarge"></tui-svg>
              </a>
          </div>
      </section>
      <footer class="flex justify-center space-x-4">
      </footer>
  </div>
</div>