<div class="h-full p-4" *ngIf="(job$ | async) as job">
    <div class="h-full flex justify-center">
        <div class="max-w-[50%]">
            <div class="flex items-center">
                <div class="flex flex-col text-left justify-center">
                    <p class="text-3xl">{{ job.customer.email }}</p>
                </div>
                <tui-tag class="ml-5" [value]="status" [status]="job?.finalized ? 'success' : 'error'"></tui-tag>
            </div>

            <form [formGroup]="form" class="ml-6 mt-6">
                <div class="flex flex-wrap gap-2">
                    <tui-checkbox-labeled formControlName="needTruck" [readOnly]=true>Truck</tui-checkbox-labeled>
                    <tui-checkbox-labeled formControlName="load" [readOnly]=true>Load</tui-checkbox-labeled>
                    <tui-checkbox-labeled formControlName="unload" [readOnly]=true>Unload</tui-checkbox-labeled>
                    <tui-checkbox-labeled formControlName="unpack" [readOnly]=true>Unpack</tui-checkbox-labeled>
                </div>
            </form>

            <div class="flex w-full">
                <div class="tui-container">
                    <form [formGroup]="form">
                        <div class="tui-row tui-row_sme">
                            <div class="tui-col_8 w-full m-auto mt-8">
                                <!-- <div class="tui-form__row tui-form__row_multi-fields">
                                    <div class="tui-form__multi-field">
                                        <tui-input-date tuiTextfieldSize="m" formControlName="startTime"
                                            [readOnly]=true>
                                            Start
                                        </tui-input-date>
                                        <tui-error formControlName="startTime"
                                            [error]="[] | tuiFieldError | async"></tui-error>
                                    </div>

                                    <div class="tui-form__multi-field">
                                        <tui-input-date tuiTextfieldSize="m" formControlName="endTime" [readOnly]=true>
                                            End
                                        </tui-input-date>
                                        <tui-error formControlName="endTime"
                                            [error]="[] | tuiFieldError | async"></tui-error>
                                    </div>
                                </div> -->

                                <div class="tui-form__row">
                                    <tui-input-date tuiTextfieldSize="m" formControlName="startTime" [readOnly]=true>
                                        Date
                                    </tui-input-date>
                                    <tui-error formControlName="startTime"
                                        [error]="[] | tuiFieldError | async"></tui-error>
                                </div>
                                <div class="tui-form__row tui-form__row_multi-fields">
                                    <div class="tui-form__multi-field">
                                        <tui-input-number tuiTextfieldSize="m" formControlName="cost">
                                            Cost
                                        </tui-input-number>
                                        <tui-error formControlName="cost"></tui-error>
                                    </div>
                                    <div class="tui-form__multi-field">
                                        <tui-input-number tuiTextfieldSize="m" formControlName="manHours">
                                            Man Hours
                                        </tui-input-number>
                                        <tui-error formControlName="manHours"></tui-error>
                                    </div>
                                </div>
                                <div class="tui-form__row">
                                    <tui-input-number [step]=1 tuiTextfieldSize="m" formControlName="boxes">
                                        Boxes
                                    </tui-input-number>
                                    <tui-error formControlName="boxes"></tui-error>
                                </div>
                                <div class="tui-form__row tui-form__row_multi-fields">
                                    <div class="tui-form__multi-field">
                                        <tui-textarea [expandable]="true" [rows]="10" tuiTextfieldSize="m"
                                            formControlName="notes">
                                            Notes
                                        </tui-textarea>
                                    </div>
                                    <div (click)="toggleItemsDialog()"
                                        class="hover:bg-[black] hover:bg-opacity-15 rounded cursor-pointer flex flex-col items-center justify-center tui-form__multi-field">
                                        <div class="text-2xl w-3/4 flex justify-between items-center py-0.5">
                                            <span>Rooms</span>
                                            <span class="opacity-45">{{ job.rooms.length }}</span>
                                        </div>
                                        <a class="opacity-50 py-0.5 text-left text-m w-3/4">More info...</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tui-form__buttons">
                            <button *ngIf="isEditing" (click)="save()" tuiButton type="submit"
                                class="gradient-button bg-secondary rounded-md text-lg tui-form__button">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <tui-loader class="h-min max-w-lg tui-container" [showLoader]="(mapLoading | async) ?? false" [overlay]="true">
            <div class="min-w-[25%] max-w-[75%] h-min tui-container flex flex-col justify-center items-center">
                <div class="flex flex-col items-center justify-center p-2 bg-[white] w-[550px] h-min">
                    <form class="w-full flex flex-col" [formGroup]="form">
                        <tui-input [readOnly]=true formControlName="loadAddr" class="mb-2">
                            Load address
                            <input tuiTextfield />
                        </tui-input>
                        <tui-input [readOnly]=true formControlName="unloadAddr">
                            Unload address
                            <input tuiTextfield />
                        </tui-input>
                        <!-- <label class="mb-2">
                            <span class="mr-2">Load address</span>
                            <input class="w-full" formControlName="loadAddr" id="loadAddr" #loadAddr>
                        </label>
                        <label>
                            <span class="mr-2">Unload address</span>
                            <input class="w-full" formControlName="unloadAddr" id="unloadAddr" #unloadAddr>
                        </label> -->
                    </form>
                </div>
                <google-map id="map" [options]="mapOptions" width="550px" height="500px">
                    @if (directionsResults$ | async; as directionsResults) {
                    <map-directions-renderer [directions]="directionsResults" />
                    }
                </google-map>
            </div>
        </tui-loader>

        <ng-template let-observer [tuiDialogOptions]="{label: 'Rooms and items', size: 'm'}"
            [(tuiDialog)]="itemsDialogOpen">
            <tui-accordion class="container" [rounded]="false">
                <!--Iterate over selected rooms-->
                <!--Accordion item for each room-->
                <tui-accordion-item *ngFor="let room of job.rooms" borders="top-bottom" [showArrow]="true">
                    <!--Accordion Item Label-->
                    <div class="operation-header">
                        <div class="operation-title">{{room.roomName}}</div>
                    </div>
                    <ng-template tuiAccordionItemContent>
                        <!--Populate room items-->
                        <tui-primitive-textfield [readOnly]=true class="mb-2" [value]="item.value + ''"
                            *ngFor="let item of room.items | keyvalue">
                            {{item.key}}
                            <input tuiTextfield />
                        </tui-primitive-textfield>
                    </ng-template>
                </tui-accordion-item>
            </tui-accordion>
        </ng-template>
    </div>
</div>