<div class="h-full p-4" *ngIf="(job$ | async) as job">
    <div class="h-full flex justify-center">
        <div class="max-w-md">
            <div class="flex items-center">
                <div class="flex flex-col text-left justify-center">
                    <p class="text-4xl">{{ job.customer.email }}</p>
                </div>
                <tui-tag class="ml-5" [value]="status"></tui-tag>
            </div>

            <section class="ml-6 mt-6">
                <div class="flex flex-wrap gap-2">
                    <ng-container *ngFor="let item of checked; index as i">
                        <label tuiLabel class="flex items-center gap-2">
                            <input tuiCheckbox type="checkbox" [(ngModel)]="checked[i][1]" class="tui-checkbox" />
                            <span>{{ checked[i][0] }}</span>
                        </label>
                    </ng-container>
                </div>
            </section>

            <div class="flex w-full">
                <div class="tui-container">
                    <form [formGroup]="form">
                        <div class="tui-row tui-row_sme">
                            <div class="tui-col_8 w-5/6 m-auto mt-8">
                                <div class="tui-form__row tui-form__row_multi-fields">
                                    <div class="tui-form__multi-field">
                                        <tui-input-date tuiTextfieldSize="m" formControlName="startTime"
                                            [readOnly]=true>
                                            Start
                                        </tui-input-date>
                                        <tui-error formControlName="startTime"
                                            [error]="[] | tuiFieldError | async"></tui-error>
                                    </div>

                                    <div class="tui-form__multi-field">
                                        <tui-input-date tuiTextfieldSize="m" formControlName="endTime" [readOnly]=true>
                                            End
                                        </tui-input-date>
                                        <tui-error formControlName="endTime"
                                            [error]="[] | tuiFieldError | async"></tui-error>
                                    </div>
                                </div>

                                <div class="tui-form__row tui-form__row_multi-fields">
                                    <div class="tui-form__multi-field">
                                        <tui-textarea tuiTextfieldSize="m" formControlName="notes">
                                            Notes
                                        </tui-textarea>
                                    </div>
                                    <div class="flex flex-col items-center justify-center tui-form__multi-field">
                                        <div class="text-2xl w-3/4 flex justify-between items-center py-0.5">
                                            <span>Rooms</span>
                                            <span class="opacity-45">5</span>
                                        </div>
                                        <div class="text-2xl w-3/4 flex justify-between items-center py-0.5">
                                            <span>Boxes</span>
                                            <span class="opacity-45">5</span>
                                        </div>
                                        <a class="opacity-50 py-0.5 text-left text-m w-3/4">More info...</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <tui-loader [showLoader]="(mapLoading | async) ?? false" [overlay]="true">
            <div class="max-w-lg tui-container flex flex-col justify-center items-center">
                <div class="flex flex-col items-center justify-center p-2 bg-[white] w-[550px] h-min">
                    <form [formGroup]="form">
                        <label>
                            <span class="mr-2">Load address</span>
                            <input formControlName="loadAddr" id="loadAddr" #loadAddr>
                        </label>
                    </form>
                </div>
                <google-map [options]="mapOptions" width="550px" height="500px">
                    @if (directionsResults$ | async; as directionsResults) {
                    <map-directions-renderer [directions]="directionsResults" />
                    }
                </google-map>
            </div>
        </tui-loader>
    </div>
</div>